
### GERAL ###
JWT_SECRET=

### DEV ###

URL_DEV_DB=
USERNAME_DEV_DB=
PASSWORD_DEV_DB=

### HOMOLOG ###

URL_HOMOLOG_DB=
USERNAME_HOMOLOG_DB=
PASSWORD_HOMOLOG_DB=

### PROD ####

URL_DB=
USERNAME_DB=
PASSWORD_DB=
